{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block head %}

{% endblock %}

{% block header %}
{% include "header.html" with class="bg-maiz" section_name="Genome"%}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1>COVID 19</h1>

  </div>
</div>
<div class="row">
  <style>


    .jbrowse {
      height: 300px;
      width: 1500px;
      padding: 0;
      margin-left: 5em;
      border: 1px solid #ccc;
    }
    .jbrowse .nav {
      display: inline
    }
  </style>

  <div   class="jbrowse"   id="GenomeBrowser">
    <div id="LoadingScreen" style="padding: 50px;">
      <h1>Loading...</h1>
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="{% static 'jbrowse' %}/dist/browser.bundle.js"
  charset="utf-8"
></script>

<!--                  <iframe  id="jbrowse"-->
<!--                   src="{% static 'jbrowse' %}/index.html?data=data/COVID19&fullviewlink=false&menu=false&nav=true&tracklist=false&tracks=DNA,Genes"-->
<!--                   height="400px" width="100%"></iframe>-->

  <div class="row">
    <h3>{% trans 'Genes' %}</h3>

    <table id="genes_table" class="table table-responsive">
      <thead>
      <tr>

        <td>{% trans 'Gen' %}</td>
        <td>{% trans 'Proteína' %}</td>
        <td>{% trans 'Región' %}</td>
        <td>{% trans 'Descripción' %}</td>
        <td>{% trans 'Estructuras' %}</td>

      </tr>
      </thead>
      <tbody>
      {% for c in genes %}
      <tr>

        <td>{{c.qualifiers_dict.gene}}</td>
        <td>
          {% if c.qualifiers_dict.BioentryId %}
          <a href="{% url 'covid:gene_view' c.qualifiers_dict.BioentryId %}"> {{c.locus_tag}} </a>
          {% else %}
          {{c.locus_tag}} /  {{c.type_term.identifier}}
          {%endif%}
        </td>
        <td>{{c.first_location}}</td>
        <td>
          {% if c.description %}
          {{c.description}}
          {% else %}
          {{c.extra_gene_props.description}}
          {% endif %}
        </td>
        <td>{{c.extra_gene_props.structures}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


</div>

{% endblock %}

{% block javascript %}
<script>
  var features = [];
  // Add some features
  var config = {
    containerID: "GenomeBrowser",
    "baseUrl": "{% static 'jbrowse' %}/jbrowse",
    "dataRoot": "{% static 'jbrowse' %}/data/COVID19",
    "show_nav": true,
    "show_tracklist": false,
    "show_overview": true,
    "update_browser_title": false,
    "updateBrowserURL": false,
    // "tracks":"DNA,Genes",
    "show_fullviewlink":false
    // fullviewlink=false&menu=false&nav=true&tracklist=false&tracks=DNA,Genes
  };

  // Add to the config or tracks

  // Instantiate JBrowse
  window.addEventListener("load", () => {

    window.JBrowse = new window.Browser(config);
    window.JBrowse.showTracks("Genes");
  });
</script>
{% endblock %}
